body{
    color: #666;
}
a{
    transition: color .2s linear, border .5s linear;
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #49bf9d;
}
a:hover{
    border-bottom-color: transparent;
}

p{
    margin: 0 0 2em;
}

img{
    max-width: 100%;
}

h2{
    color: #787878;
    font-weight: normal;
    margin: 0 0 1em;
    font-size: 40;
}

blockquote{
    border-left: 5px solid #efefef;
    margin: 2em 0;
    padding: .5em 0 .5em 1.5em;
}

.icon-link{
    color: #929292;
    border-bottom: transparent;
    padding-bottom: 0;
}
.icon-link:hover{
    color: #49bf9d;
}
.copyright{
    padding-top: 0;
    font-size: 25px;
    color: white;
    /*list-style: none;*/
} /*Nome/link */

.copyright:hover{
    color: rgb(255, 93, 182);
} /* hover do nome/link */

/* Grid */
.row{
    overflow: auto;
}
.col-2{
    width: 48%;
    float: left;
}
.col-2:first-child{
    margin-right: 2%;
}
.col-2:last-child{
    margin-left: 2%;
}

.recente-works-card{
    margin-bottom: 2em;
    height: 370px;
    background: rgba(233, 232, 232, 0.404);
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(226, 226, 226, 0.747);
    box-shadow: 0 2px 2px #ccc;
}
.recente-works-img{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}
.recente-works-card-title{
    font-size: 18px;
    padding-left: 10px;
    margin-top: 15px;
}
.recente-works-card-texto{
    padding: 0 10px;
}

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35%;
    padding: 124px 54px 72px;
    box-sizing: border-box;
    background-image: url(../images/images/overlay.png), url(../images/cup-of-coffee-1280537_640.jpg);
    background-position: left top;
    background-size: auto, cover;
    text-align: right;
}
.main-header-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
}
.main-header-title{
    font-size: 22px;
    line-height: 1.5;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.671)
}
.main-content{
    width: 65%;
    margin-left: 35%;
    padding: 30px 54px 72px;
    box-sizing: border-box;
}

.icon{
    font-size: 50px;
    margin-left: 30px;
}
